.content {

    height:auto;
    width:100%;
    background:#fff;
    overflow:hidden;
    padding:0;
    margin:0;
}

.home-section {
    color:#000000;
    padding:3rem 0rem;
    position:relative;
    float:left;
    width: 100%;
    height:auto;
    /*min-height:624px;*/
    display:block;
}
.home-section a:link, .home-section:active, .home-section:visited, .home-section:hover {
    color:#000000;
}

.home-section h1, .home-section p {
    width:100%;
    /*max-width:1024px;*/
    margin:0 auto;
    padding:0 2rem;
}
.home-section h1 {
    padding:1.5rem 0rem 3rem 0rem;
}

.home-section p {
    /*padding: 0rem 0rem 0.5rem 0rem;*/
}

.widget_sow-post-carousel {
    padding:1.5rem;
    height:auto;
}

.single-post {
    widows: 100%;
    height:auto;
    position:relatove;
    color:#000000;
    padding:1.5rem;
}

.so-panel .home-refslider-container {
    position:relative;
    width:100%;
    height:auto;
    display:inline-block;
    padding:0 2rem;
    margin-bottom:1.5rem;
}

.home-referencia-slider,
.home-butorforgalmazas-slider {
    width:100%;
    height:auto;
    position:relative;
    display:inline-block;
    margin:0 auto;
    padding-top:5rem;
}
.home-referencia-slider .slick-slide,
.home-butorforgalmazas-slider .slick-slide {
    height:auto;
}

.home-referencia-slider .slide-div,
.home-butorforgalmazas-slider .slide-div {
    width:100%;
    position:relative;
    display:inline-block;
    padding:0rem 1.5rem;
    text-align:center;
}

.home-referencia-slider .slide-div h3 {
    font-size:1.5rem;
    text-transform:uppercase;
    float:left;
    padding-bottom:1rem;
}

.home-referencia-slider .slide-div p,
.home-butorforgalmazas-slider .slide-div p {
    width:100%;
    /*max-width:500px;*/
    text-align:justify;
    padding:1.5rem 0 0 0;
}

.home-referencia-slider .slide-div img,
.home-butorforgalmazas-slider .slide-div .slide-div-block img {
    margin:0 auto;
    /*max-width:500px;*/
    width:100%;
    height:auto;
}

.home-referencia-slider .slick-prev, .home-referencia-slider .slick-next,
.home-butorforgalmazas-slider .slick-prev, .home-butorforgalmazas-slider .slick-next {
    top:10px;
}
.home-referencia-slider .slick-next,
.home-butorforgalmazas-slider .slick-next {
    right:15px;
    &:before {
        content: url('../images/refslider-arrow-right.png'); // <<<<<<<<
        [dir="rtl"] & {
            content: url('../images/refslider-arrow-left.png'); // <<<<<<<<
        }
    }
}

.home-referencia-slider .slick-prev,
.home-butorforgalmazas-slider .slick-prev {
    left:auto;
    right:60px;
    &:before {
        content: url('../images/refslider-arrow-left.png'); // <<<<<<<<
        [dir="rtl"] & {
            content: url('../images/refslider-arrow-right.png'); // <<<<<<<<
        }
    }
}

.home-referencia-slider .slick-counter,
.home-butorforgalmazas-slider .slick-counter {
    position:absolute;
    top:0px;
    right:45px;
}

.home-butorforgalmazas-slider-container {
    position:relative;
    float:left;
    width:100%;
    height:auto;
    padding:0;
    margin:0;
}

#butorforgalmazas {
    color:#ffffff;
}

.filter-container {
    position:relative;
    float:left;
    width:100%;
    /*max-width:75%;*/
    height:auto;
    display:block;
    padding:0 2.5rem;
}

.filter-container .filter-container-left {
    position:relative;
    height:auto;
    width:100%;
    display:block;
    float:left;
    max-width:75%;
}

.filter-container .filter-categories-bar {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    border-bottom:1px solid #ffffff;
    width:100%;
    height:auto;
    display:block;
    /*max-width:75%;*/
}

.filter-container .filter-categories-bar .category-link-container {
    display:inline-block;
    margin:0;
    padding:0;
}

.filter-container .filter-categories-bar .erase-filters-button {
    float:right;
    /*display:inline-block;*/
    padding:0.1rem 0 0 1.5rem;
    display:none;
    background:url('../images/filter-erase-bg.png') left center no-repeat;
    cursor:pointer;
}

.filter-container .filter-categories-bar .category-link-container .category-link-footer {
    /*display:inline-block;*/
    height:10px;
    /*background:url('../images/dot-white.png') center top repeat-y;*/
}

.filter-container .filter-categories-bar .category-link-container .category-link {
    display:inline-block;
    margin:0;
    padding:5px 10px;
    color:#ffffff;
    text-transform:uppercase;
    text-decoration:none;
    border:1px solid transparent;
    cursor:pointer;
}

.filter-container .filter-categories-bar .category-link-container .category-link:hover {
    
    border:1px solid #ffffff;
}

.filter-container .filter-categories-bar .category-link-container .active-cat {
    border:1px solid #ffffff;
}

.filter-container .filter-categories-bar .category-link-container .active-foot-class {
    background:url('../images/dot-white.png') center top repeat-y;
}

.filter-container .filters-elements-container {
    position:relative;
    float:left;
    width:100%;
    height:auto;
}

.filter-container .filters-elements-container .filter-elements {
    position:relative;
    float:left;
    width:100%;
    height:auto;
    display:none;
}

.filter-element {
    padding:5px 10px;border:1px solid transparent;
    cursor:pointer;
    position:relative;
    float:left;
    width:auto;
    height:auto;
    display:inline-block;
}

.filter-element:hover {
    border:1px solid #ffffff;
}

.hovered {
    border:1px solid #ffffff; 
}

.filter-container .filters-elements-container .visibled {
    display:inline-block;
}

.checked {
    border:1px solid #ffffff;
}

.home-butorforgalmazas-slider-container .ajax-load {
    position:absolute;
    background:url('../images/ajax-loader.gif') center center no-repeat;
    z-index:999999;
    top:50%;
    left:50%;
    width:54px;
    height:54px;
    display:block;
}

.home-butorforgalmazas-slider-container .no-results {
    position:absolute;
    z-index:999999;
    top: 50%;
    width:100%;
    height:auto;
    color:#ffffff;
    display:none;
    text-align:center;
}

.home-butorforgalmazas-slider .slide-div .slide-div-block,
.home-referencia-slider .slide-div .slide-div-block {
    position:relative;
    margin:0;
    padding:0;
    //width:auto;
    width:100%;
    height:auto;
    display:inline-block;
    float:left;
}

.home-butorforgalmazas-slider .slide-div .slide-div-block h2 {
    padding:1.5rem 0rem;
    margin:0 auto;
    /*max-width:500px;*/
    width:100%;
    text-align:left;
}

.home-butorforgalmazas-slider .slide-div .slide-div-block h2 a {
    color:#ffffff;
}

.home-butorforgalmazas-slider .slide-div .slide-div-block .excerpt-div {
    position:relative;
    margin:0;
    padding:0;
}

.home-butorforgalmazas-slider .slide-div .slide-div-block .excerpt-div p {
    padding-top:0;
    padding-bottom:1.5rem;
    min-height:25px;
    height:auto;
    display:inline-block;
    width:100%;
    max-width:100%;
}

.home-butorforgalmazas-slider .slide-div .slide-div-block .gld_link,
.home-butorforgalmazas-slider .slide-div .slide-div-block .email_link,
.home-referencia-slider .slide-div .slide-div-block .gld_link,
.home-referencia-slider .slide-div .slide-div-block .email_link {
    color:#ffffff;
    display:inline-block;
    width:100%;
    height:auto;
    text-align:left;
    text-decoration:underline;
    padding-left:25px;
}

.home-referencia-slider .gld_link,
.home-referencia-slider .email_link {
    color:#000000 !important;
    /*max-width:320px;*/
}

.home-butorforgalmazas-slider .slide-div .slide-div-block .email_link,
.home-referencia-slider .slide-div .slide-div-block .email_link {
    text-decoration:none;
    background:url('../images/email_link.png') left center no-repeat;
}

.home-butorforgalmazas-slider .slide-div .slide-div-block .gld_link,
.home-referencia-slider .slide-div .slide-div-block .gld_link {
    background:url('../images/gld_link.png') left center no-repeat;
}

.home-referencia-slider .slide-div .slide-div-block .email_link {
    background:url('../images/email_link_black.png') left center no-repeat;
}

.home-referencia-slider .slide-div .slide-div-block .gld_link {
    margin-top:1.5rem;
    background:url('../images/gld_link_black.png') left center no-repeat;
}

.filter-container .filters-search {
    display:inline-block;
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    float:right;
    position:relative;
    max-width:250px;
}

.filter-container .filters-search .search_bar {
    max-width:250px;
    background:transparent none;
}

.filter-container .filters-search .ret_bar {
    padding:1rem;
    border:1px solid #ffffff;
    position:absolute;
    z-index:99999999;
    margin-left:1rem;
    width:215px;
    height:auto;
    display:none;
    background-color:#404352;
}

.filter-container .filters-search .ret_bar .ret_bar_link {
    display:inline-block;
    width:100%;
    height:auto;
    cursor:pointer;
    color:#ffffff;
    padding:5px;
}

.filter-container .filters-search .ret_bar .ret_bar_link:hover {
    background-color:#cccccc;
    color:#333333;
    text-decoration:none;
}

.filter-container .filters-search .search_bar input {
    max-width:100%;
    padding-right:50px;
    background:transparent none;
    border:none;
    height:42px;
    color:#ffffff;
}

.filter-container .filters-search .search_bar .click-button {
    background:url('../images/search-icon.png') center center no-repeat;
    display:block;
    height:40px;
    width:45px;
    position:absolute;
    z-index:99999999;
    top:2px;
    right:-5px;
    cursor:pointer;
}

.egyedibutor-container,
.referencia-grid-container {
    position:relative;
    float:left;
    display:inline-block;
    margin:0 auto;
    padding:0 2.5rem;
    width:100%;
    height:auto;
}

.egyedibutor-container .textwidget,
.referencia-grid-container .textwidget {
    position:relative;
    float:left;
    margin:0;
    padding:0;
    height:auto;
    width:auto;
}

.egyedibutor-container  .egyedibutor-container-elem,
.referencia-grid-container .referencia-grid-container-elem {
    position:relative;
    display:inline-block;
    margin:0;
    padding:0.75rem;
    width:100%;
    max-width:33.33%;
    text-align:center;
}

.referencia-grid-container .referencia-grid-container-elem {
    max-width:33.1%;
}

.egyedibutor-container  .egyedibutor-container-elem .link-container,
.referencia-grid-container .referencia-grid-container-elem .link-container {
    position:relative;
    margin:0;
    padding:0;
}

.egyedibutor-container  .egyedibutor-container-elem .link-container img,
.referencia-grid-container  .referencia-grid-container-elem .link-container img {
    position:relative;
    width:100%;
    max-width:600px;
    height:auto;
    margin:0;
    padding:0;
}

.egyedibutor-container-elem .link-container .egyedibutor-link,
.referencia-grid-container-elem .link-container .referencia-grid-link {
    position:absolute;
    width:100%;
    height:100%;
    background:transparent none;
    margin:0;
    padding:0;
    z-index:9999;
    text-decoration:none;
    color:#ffffff;
}

.egyedibutor-container-elem .egyedibutor-link:hover,
.referencia-grid-container-elem .referencia-grid-link:hover {
    background:rgba(0, 0, 0, 0.6) none;
    cursor:pointer;
}

.egyedibutor-link .link-inner,
.referencia-grid-link .link-inner {
    position:relative;
    display:none;
    top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:100%;
    height:auto;
    text-align:center;
    margin:auto 0;
    /*z-index:99999999;*/
    color:#ffffff;
}

.egyedibutor-container-elem .egyedibutor-link:hover .link-inner,
.referencia-grid-container-elem .referencia-grid-link:hover .link-inner {
    display:inline-block;
}

.referencia-grid-container .morebutton-container {
    position:relative;
    float:left;
    width:100%;
    height:auto;
    display:block;
    text-align:center;
    margin:1rem auto 0 auto;
}

.morebutton-container > a {
    position:relative;
    display:inline-block;
    color:#000000 !important;
    border:1px solid #000000;
    padding:1rem 5rem;
    width:auto;
    text-decoration:none;
}

#bimgo-block .gld_link,
#bimgo-block .email_link {
    color:#000000;
    display:inline-block;
    width:100%;
    height:auto;
    text-align:left;
    text-decoration:underline;
    padding-left:25px;

}

#bimgo-block .gld_link {
    margin-top:1.5rem;
    background:url('../images/gld_link_black.png') left center no-repeat;
}

#bimgo-block .email_link {
    background:url('../images/email_link_black.png') left center no-repeat;
    text-decoration:none;
}

#bimgo-block .bimgo-text-block {
    min-height:300px;
}

#bimgo-block .bimgo-text-block h3 {
    font-size:1rem;
    text-transform: uppercase;
    padding-bottom:1.5rem;
}

#gdl_fajlok {
    color:#ffffff;
}

#gdl_fajlok .textwidget h1 {
    font-weight:normal !important;
    letter-spacing:0.25rem;
}

.bimgo-gdl-slider-container {
    position:relative;
    width:100%;
    height:auto;
    display:inline-block;
    padding:0 2rem;
    margin-bottom:1.5rem;
}

.bimgo-gdl-slider-container p {
    padding:1rem 0 0 0;
}

.bimgo-gdl-slider {
    width:100%;
    height:auto;
    position:relative;
    display:inline-block;
    margin:0 auto;
    padding-top:5rem;
}

.bimgo-gdl-slider .slide-div {
    width:100%;
    position:relative;
    display:inline-block;
    padding:0rem 1.5rem;
    text-align:center;
    height:500px !important;
}

.bimgo-gdl-slider .slide-div h2,
.bimgo-gdl-slider .slide-div p {
    text-align:left;
}

.bimgo-gdl-slider .slide-div h2 {
    padding-top:1.5rem;
}

.bimgo-gdl-slider .slide-div img {
    margin:0 auto;
    /*max-width:500px;*/
    width:100%;
    height:auto;
}

.bimgo-gdl-slider .slick-next,
.bimgo-gdl-slider .slick-prev {
    top:10px;
}

.bimgo-gdl-slider .slick-next {
    right:15px;
    //right:3.5rem;
    &:before {
        content: url('../images/refslider-arrow-right.png'); // <<<<<<<<
        [dir="rtl"] & {
            content: url('../images/refslider-arrow-left.png'); // <<<<<<<<
        }
    }
}

.bimgo-gdl-slider .slick-prev {
    left:auto;
    right:60px;
    //right:7rem;
    &:before {
        content: url('../images/refslider-arrow-left.png'); // <<<<<<<<
        [dir="rtl"] & {
            content: url('../images/refslider-arrow-right.png'); // <<<<<<<<
        }
    }
}

.bimgo-gdl-slider .slick-counter{
    position:absolute;
    top:0px;
    right:45px;
}

.bimgo-gdl-slider .slide-div .gld_link,
.bimgo-gdl-slider .slide-div .email_link {
    color:#ffffff;
    display:inline-block;
    width:100%;
    height:auto;
    text-align:left;
    text-decoration:underline;
    padding-left:25px;
}

.bimgo-gdl-slider .slide-div .email_link {
    text-decoration:none;
    background:url('../images/email_link.png') left center no-repeat;
}

.bimgo-gdl-slider .slide-div .gld_link {
    background:url('../images/gld_link.png') left center no-repeat;
}

.bimgo-gdl-slider .slick-slide {
    height:auto;
}

.single-page-post {
    padding:10rem 5rem 1.5rem 5rem;
    background:url('../images/single-page-bg.jpg') center top;
    background-size:cover;
    background-repeat:repeat-y;
    position:relative;
    width:100%;
    display:inline-block;
}

.single-page-post h1 {
    padding-bottom:1.5rem;
    color:#000000;
}

.single-slider-container {
    width:100%;
    display:inline-block;
    margin-bottom:6rem;
    background:none;
}

.single-slider {
    width:100%;
    height:auto;
    position:relative;
    display:inline-block;
    margin:0 auto;
    /*padding-top:5rem;*/
}

.single-slider .slick-next {
    right:-4.9rem;
    //right:3.5rem;
    &:before {
        content: url('../images/single-right.png'); // <<<<<<<<
        [dir="rtl"] & {
            content: url('../images/single-left.png'); // <<<<<<<<
        }
    }
}

.single-slider .slick-prev {
    left:-5rem;
    //right:60px;
    //right:7rem;
    &:before {
        content: url('../images/single-left.png'); // <<<<<<<<
        [dir="rtl"] & {
            content: url('../images/single-right.png'); // <<<<<<<<
        }
    }
}

.single-slider .slick-dots {
    bottom:-5%;
}

.single-slider .slide-div {
    width:100%;
    position:relative;
    height:auto;
}

.single-slider .slide-div img {
    width:100%;
    height:auto;
    margin:0 auto;
}

/*.single-post .single-content {
    width:100%;
    position:relative;
    float:left;

}*/

.single-page-post .content-div {
    position:relative;
    width:100%;
    height:auto;
    display:block;
    color:#000000;
}

.single-page-post .content-div .left-content {
    position:relative;
    width:100%;
    /*max-width:75%;*/
    float:left;
}
.single-page-post a {
    color:#000000 !important;
    font-weight:bold;
}
.simgle-page-post .content-div .right-content {
    position:relative;
    float:left;
    width:100%;
    max-width:25%;
}

.content .panel-layout .no-page-slider {
    position:relative;
    width:100%;
    height:auto;
    margin:0;
    padding:10rem 3rem 3rem 3rem !important;
    color:black;
}

.has-cookie-bar #catapult-cookie-bar {
    background-color:rgb(0,0,0,0.8) !important;
}

#catapult-cookie-bar .gdpr-cookie-bar .ctcc-left-side {
    max-width:750px;
    text-align:center;
    padding:0rem 3rem;
}

.gdpr-cookie-bar .ctcc-right-side #catapultCookie {
    background-color:#000000;
    border:1px solid #ffffff;
    color:#ffffff;
    border-radius:0;
    padding:0.25rem 3rem;
}

.search-ret-container {
    color:#000000;
}

.search-ret-container a {
    color:#000000 !important;
}

.search-ret-container img {
    width:100%;
    max-width:450px;
    height:auto;
}

.news-widget-container {
    padding:0 5rem;
}

.news-widget-container .slick-slide {
    height:auto;
}

.news-widget-container .so-widget-sow-post-carousel {
    width:100%;
    max-width:1024px;
    margin:0 auto;
}

.single-slider-container .slick-slide {
    height:unset;
}

// New butorforgalmazas grid

.home-butorforgalmazas-grid-container {
    position:relative;
    //display:block;
    padding:2rem;
    margin:0;
    width:100%;
    height:auto;
    float:left;
}

.home-butorforgalmazas-grid-container .no-results {
    /*position:absolute;
    z-index:999999;*/
    position:relative;
    top: 50%;
    width:100%;
    height:auto;
    color:#ffffff;
    display:none;
    text-align:center;
}

.home-butorforgalmazas-grid-container .ajax-load {
    position:absolute;
    background:url('../images/ajax-loader.gif') center center no-repeat;
    z-index:999999;
    top:50%;
    left:50%;
    width:54px;
    height:54px;
    display:block;
}

.home-butorforgalmazas-grid {
    position:relative;
    //display:block;
    padding:0;
    margin:0 auto;
    width:auto;
    height:auto;
    //float:left;
    //text-align:left;
}

.home-butorforgalmazas-grid .grid-div {
    position:relative;
    display:block;
    width:100%;
    height:600px;
    max-width:33.33%;
    margin:0;
    padding:0 1rem;
    float:left;
    //border:1px solid #ffffff;
}

.home-butorforgalmazas-grid .grid-div .grid-div-block {
    position:relative;
    display:block;
    width:100%;
    margin:0;
    padding:0;
    //float:left;
}

.grid-div-block a {
    color:#ffffff !important;
}

.grid-div-block p {
    padding:0;
}

.home-butorforgalmazas-grid .grid-div .grid-div-block .img-container img {
    position:relative;
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    z-index:0;
}

.home-butorforgalmazas-grid .grid-div .grid-div-block h2 {
    padding-top:2rem;
}

.home-butorforgalmazas-grid-container .grid-pager {
    position:relative;
    width:100%;
    height:auto;
    clear:both;
    display:inline-block;
}

.grid-pager a {
    padding:0 0.5rem;
}

.home-butorforgalmazas-grid-container .grid-pager span {
    float:right;
}

.grid-pager .grid-pager-link {
    font-size:1rem;
    font-weight:normal;
    color:#ffffff !important;
    &.act {
        font-size:1.5rem;
        font-weight:bold;
    }
}

.home-butorforgalmazas-grid .grid-page {
    position:relative;
    margin:0;
    padding:0;
    width:auto;
    height:auto;
    display:none;
}

.elemkonyvtar-link-container {
    position:relative;
    width:auto;
    height:auto;
    text-align:center;
    max-width:250px;
    margin:0 auto;
    padding:0;
}

.elemkonyvtar-link-container a {
    padding-left:25px;
    background:url('../images/elemkonyvtar-link-bg.png') left center no-repeat;
    position:relative;
    width:auto;
    height:auto;
    float:left;
    padding-right:10px;
}

.elemkonyvtar-link-container .info-button {
    position:relative;
    width:20px;
    height:20px;
    display:block;
    background:url('../images/info-button-bg.png') center center no-repeat;
    float:left;
    cursor:pointer;
    &.light {
        background:url('../images/info-button-white-bg.png') center center no-repeat;
    }
}

.elemkonyvtar-link-container .info-button-container {
    display:none;
    width:450px;
    height:auto;
    padding:1rem;
    background-color:rgba(255,255,255,0.9);
    border:1px solid #000000;
    position:absolute;
    z-index:9999;
    text-align:left;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 0;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    color:#000000;
}

.info-button-container ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.simple_email_link {
    padding-left:25px;
    background:url('../images/email_link_black.png') left center no-repeat;
    text-decoration:none;
    width:250px;
    &.light {
        color:#ffffff !important;
        background:url('../images/email_link.png') left center no-repeat;
    }
}

#epuletfelmeres-block p {
    padding:0;
}

.referencia-grid-more {
    position:relative;
    display:none;
    width:100%;
    height:auto;
    border:1px solid #000000;
    padding:2rem;
}

.referencia-grid-more .referencia-grid-more-container {
    position:relative;
    display:block;
    width:100%;
    height:auto;
    max-width:50%;
    float:left;
    padding:0.5rem 0;
}

.referencia-grid-more-container a {
    color: #000000 !important;
}

.morebutton-clear {
    clear:both;
    position:relative;
    width:100%;
    height:20px;
    display:none;
    background:url('../images/morebutton-clear-bg.png') center center no-repeat;
}

pre {
    color:red;
}

.bimgo-gdl-slider .slide-div {
    height:auto;
}
