footer {
    /*background:url('../images/footer-bg-belsoepiteszet.jpg') no-repeat;*/
    background-size:cover;
    color:#fff;
    overflow:hidden;
    position:relative;
    height:auto;
    width:100%;
}

/*.belsoepiteszet {
    background:url('../images/footer-bg-belsoepiteszet.jpg') no-repeat;
    background-size:cover;
}

.bimgo {
    background:url('../images/footer-bg-bimgo.jpg') no-repeat;
    background-size:cover;
}

.referenciak {
    background:url('../images/footer-bg-referenciak.jpg') no-repeat;
    background-size:cover;
}*/

footer .info-container {
    position:relative;
    padding:2rem 0;
    margin-top:2rem;
    display:block;
    width:100%;
    height:auto;
    border-top:1px solid #ffffff;
    float:left;
}

footer .info-container .cell {
    width:100%;
    display:inline-block;
    float:left;
    margin:0;
    padding:0;
    padding-right:4rem;
    text-align:center;
    height:auto;
}

.footer-logo {
    max-width:33.33%;
}

.footer-logo a {
    position:relative;
    display:block;
    width:auto;
    height:auto;
    float:right;
}

.placeholder-left {
    max-width:33.33%;
}

.top-container-right .social {
    width:100%;
    margin:0 auto;
    display:block;
    height:auto;
    float:right;
    max-width:250px;
}

.copy {
    height:auto;
    min-height:50px;
    vertical-align:middle;
    max-width:33.33%;
}

.copy p{
    margin-top:20px;
    font-size:0.8rem;
}

.social a {
    display:block;
    float:left;
    height:50px;
    width:100%;
    max-width:33.33%;
}

.insta {
    background:url('../images/insta.png') no-repeat center;
}
.face {
    background:url('../images/face.png') no-repeat center;
}
.youtube {
    background:url('../images/youtube.png') no-repeat center;
}

footer .top-container {
    position:relative;
    margin:0;
    padding:2rem 57px;
    width:100%;
    height:auto;
    display:inline-block;
}

.top-container .top-container-left {
    max-width:50%;
    position:relative;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    display:inline-block;
}

.top-container .top-container-right {
    max-width:49%;
    position:relative;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    display:inline-block;
}

.top-container-left .footer-menu-container {
    text-align:left;
    //margin-top:75px;
}

.top-container-left .footer-menu-container li a {
    padding:0.5rem 0rem;
    margin:0;
    display:block;
    border:1px solid transparent;
    width:100%;
    max-width:360px;
}
.top-container-left .footer-menu-container a:link,
.top-container-left .footer-menu-container a:hover,
.top-container-left .footer-menu-container a:active,
.top-container-left .footer-menu-container a:visited {
    text-decoration:none;
}
.top-container-left .footer-menu-container a:hover {
    border:1px solid #ffffff; 
}

.kapcsolat-section {
    position:relative;
    width:100%;
    height:auto;
    display:inline-block;
    margin:0;
    padding:0;
}

/*.footer-menu-container ul li {
    max-width:50%;
    position:relative;
    float:left;
}*/

.break-foot-menu {
    clear:both;
    width:100%;
    height:1px;
}