footer {
    /*background:url('../images/footer-bg-belsoepiteszet.jpg') no-repeat;*/
    background-size:cover;
    color:#fff;
    overflow:hidden;
    position:relative;
    height:auto;
    width:100%;
}

/*.belsoepiteszet {
    background:url('../images/footer-bg-belsoepiteszet.jpg') no-repeat;
    background-size:cover;
}

.bimgo {
    background:url('../images/footer-bg-bimgo.jpg') no-repeat;
    background-size:cover;
}

.referenciak {
    background:url('../images/footer-bg-referenciak.jpg') no-repeat;
    background-size:cover;
}*/

footer .info-container {
    position:relative;
    padding:75px 0;
    display:block;
    width:100%;
    height:auto;
}

footer .info-container .cell {
    width:100%;
    display:inline-block;
    float:left;
    margin:0;
    padding:0;
    text-align:center;
    height:auto;
}

.footer-logo {
    max-width:33.33%;
}

.footer-logo a {
    position:relative;
    display:inline-block;
    width:auto;
    height:auto;
}

.social {
    max-width:33.33%;
}

.copy {
    height:auto;
    min-height:50px;
    vertical-align:middle;
    max-width:33.33%;
}

.copy p{
    margin-top:20px;
    font-size:0.8rem;
}

.social a {
    display:block;
    float:left;
    height:50px;
    width:100%;
    max-width:33.33%;
}

.insta {
    background:url('../images/insta.png') no-repeat center;
}
.face {
    background:url('../images/face.png') no-repeat center;
}
.youtube {
    background:url('../images/youtube.png') no-repeat center;
}

.footer-menu-container {
    text-align:center;
    margin-top:75px;
}

.footer-menu-container li a {
    padding:0.5rem 0rem;
    margin:0 auto;
    display:block;
    border:1px solid transparent;width:100%;
    max-width:360px;
}
.footer-menu-container a:link,
.footer-menu-container a:hover,
.footer-menu-container a:active,
.footer-menu-container a:visited {
    text-decoration:none;
}
.footer-menu-container a:hover {
    border:1px solid #ffffff; 
}

.kapcsolat-section {
    position:relative;
    width:100%;
    height:auto;
    display:inline-block;
    margin:0;
    padding:0;
}